/* example 3 */

body {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0D081A;
}

.buttonWrapper {
  min-width: 128px; height: 38px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

button {
  position: relative;
  bottom: 0;
  width: 128px;
  height: 38px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  background-color: #FF1874;
  color: #fff;
  border-radius: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  z-index: 1;
  transition: background-color 200ms ease-in-out;
  /* animation: startBouncing 1200ms infinite; */
}

button:hover {
  background-color: rgb(255, 37, 124);
}

button:focus {
  outline: none;
}

.foo-tl-1 {
  background-color: green;
}

.foo-tl-2 {
  animation: startBouncing 1200ms infinite;
}

@keyframes startBouncing {
  0% {
    width: 128px;
    height: 38px;
    bottom: 0px;
  }
  10% {
    width: 140px;
    height: 30px;
    bottom: 0;
  }
  20% {
    width: 128px;
    height: 38px;
    bottom: 0;
    animation-timing-function: ease-out;
  }
  60% {
    width: 128px;
    height: 38px;
    bottom: 40px;
    animation-timing-function: ease-in;
  }
  100% {
    width: 128px;
    height: 38px;
    bottom: 0;
  }
}