/* example 3 */

body {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0D081A;
}

.buttonWrapper {
  height: 38px;
  position: relative;
  background: green;
}

button {
  position: absolute;
  bottom: 0;
  width: 128px;
  height: 38px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  background-color: #FF1874;
  color: #fff;
  border-radius: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  z-index: 1;
  /* transition: background-color 200ms ease-in-out; */
  animation: startBouncing 3000ms infinite;
}

button:hover {
  background-color: rgb(255, 37, 124);
}

button:focus {
  outline: none;
}

@keyframes startBouncing {
  0% {
    height: 38px;
  }
  50% {
    height: 30px;
  }
  100% {
    height: 38px;
  }

}