/* example 4 */

body {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0D081A;
}

.fooWrapper {
  position: relative;
}

button {
  width: 128px;
  height: 38px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  background-color: #FF1874;
  color: #fff;
  border-radius: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  position: relative;
  z-index: 1;
  transition: background-color 1000ms ease-in-out;

  
}

button:hover {
  /* background-color:rgb(255, 1, 191); */
}

button:focus {
  outline: none;
}

/* setup doors */
.foo-child {
  background-color: #424242;
  width: 64px; height: 38px;
  position: absolute;
  z-index: -1;
}

.foo-child:nth-child(1) {
  left: -64px; top: 0;
}

.foo-child:nth-child(2){
  right: -64px; top: 0;
}


/* flash */
.foo-tl-0 button {
  animation: flash 200ms ease-in-out;
}

@keyframes flash {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #FF1874;
  }
}

/* doors slam */
.foo-tl-1 .foo-child:nth-child(1){
  animation: closeLeftDoor 800ms forwards ease-in;
}

@keyframes closeLeftDoor {
  0% {
    left: -64px;
  }
  60% {
    left: 0;
  }
  70% {
    left: -20px;
  }
  80% {
    left: 0;
  }
  90% {
    left: -10px;
  }
  100% {
    left: 0;
  }
}

.foo-tl-1 .foo-child:nth-child(2){
  animation: closeRightDoor 800ms forwards ease-in;
}

@keyframes closeRightDoor {
  0% {
    right: -64px;
  }
  60% {
    right: 0;
  }
  70% {
    right: -20px;
  }
  80% {
    right: 0;
  }
  90% {
    right: -10px;
  }
  100% {
    right: 0;
  }
}

/* button wobbles when doors slam */
.foo-tl-1 button {
  animation: wobble 300ms 500ms ease-in-out forwards;
}

@keyframes wobble {
  0%, 100% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(3deg);
  }

  66% {
    transform: rotate(-3deg);
  }
}


/* heat */

.foo-tl-2 .foo-child {
background: linear-gradient(
    to top,
    #faf49d 0%,
    #ff0202 25%,
    #424242 50%,
    #424242 100%
  );
  background-size: 128px 76px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.foo-tl-2 .foo-child:nth-child(1){
  left: 0;
}

.foo-tl-2 .foo-child:nth-child(2){
  right: 0;
}

.foo-tl-2 .foo-child {
  animation: heat 2000ms linear forwards;
}

@keyframes heat {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -31px;
  }
}

.foo-tl-2 button {
  animation: shake 300ms 500ms ease-in infinite;
} 

  /* fast boil */

.foo-tl-3 .foo-child {
  background: linear-gradient(
      to top,
      #faf49d 0%,
      #ff0202 25%,
      #424242 50%,
      #424242 100%
    );
    background-size: 128px 76px;
    background-position: 0 -31px;
    background-repeat: no-repeat;
  }

  .foo-tl-3 .foo-child:nth-child(1){
    left: 0;
  }
  
  .foo-tl-3 .foo-child:nth-child(2){
    right: 0;
  }

  .foo-tl-3 button {
    animation: shake 100ms linear infinite;
  }

  @keyframes shake {
    0%, 100% {
      left: 0px;
    }
    25% {
      left: 1px;
    }
    75% {
      left: -1px;
    }
  }

  /* bubbles */
  .foo-tl-3 .foo-sibling {
    background-color: #7474fc;
    border-radius: 50%;
    bottom: 0px;
    position: absolute;
  }

  /* bubble 1 */
  .foo-tl-3 .foo-sibling:nth-child(2) {
    width: 14px; height: 14px;
    left: 0;
    animation: bubble ease-in 600ms infinite;
  }

  /* bubble 2 */
  .foo-tl-3 .foo-sibling:nth-child(3) {
    width: 12px; height: 12px;
    left: 18px;
    animation: bubble ease-in 700ms 500ms infinite;
  }

  /* bubble 3 */
  .foo-tl-3 .foo-sibling:nth-child(4) {
    width: 15px; height: 15px;
    left: 34px;
    animation: bubble ease-in 500ms 100ms infinite;
  }

  /* bubble 4 */
  .foo-tl-3 .foo-sibling:nth-child(5) {
    width: 10px; height: 10px;
    left: 53px;
    animation: bubble ease-in 600ms 300ms infinite;
  }

  /* bubble 5 */
  .foo-tl-3 .foo-sibling:nth-child(6) {
    width: 16px; height: 16px;
    left: 68px;
    animation: bubble ease-in 400ms 100ms infinite;
  }

  /* bubble 6 */
  .foo-tl-3 .foo-sibling:nth-child(7) {
    width: 10.5px; height: 10.5px;
    left: 85px;
    animation: bubble ease-in 300ms 200ms infinite;
  }

  /* bubble 7 */
  .foo-tl-3 .foo-sibling:nth-child(8) {
    width: 11px; height: 11px;
    left: 101px;
    animation: bubble ease-in 700ms 400ms infinite;
  }

  /* bubble 8 */
  .foo-tl-3 .foo-sibling:nth-child(9) {
    width: 12px; height: 12px;
    left: 115px;
    animation: bubble ease-in 500ms 150ms infinite;
  }

  @keyframes bubble {
    0% {
      /* bottom: 20px; */
      transform: translateY(-20px);
      opacity: 0.8;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      /* bottom: 80px; */
      transform: translateY(-80px);
      opacity: 0;
    }
  }

  /* transition to ending state */

  .foo-tl-5 button {
    animation: shake 200ms linear infinite;
  }

  .foo-tl-5 .foo-child {
    background: linear-gradient(
        to top,
        #faf49d 0%,
        #ff0202 25%,
        #424242 50%,
        #424242 100%
      );
      background-size: 128px 76px;
      background-position: 0 -31px;
      background-repeat: no-repeat;
  }

  .foo-tl-5 .foo-child:nth-child(1){
    left: 0;
    animation: fadeOut 600ms ease-in-out forwards;
  }
  
  .foo-tl-5 .foo-child:nth-child(2){
    right: 0;
    animation: fadeOut 600ms ease-in-out forwards;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1.0;
    }
    100% {
      opacity: 0;
    }
  }