/* example 2 */

body {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0D081A;
}

button {
  width: 128px;
  height: 38px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  background-color: #FF1874;
  color: #fff;
  border-radius: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  position: relative;
  z-index: 1;
  transition: background-color 200ms ease-in-out;
}

button:hover {
  background-color: rgb(255, 37, 124);
}

button:focus {
  outline: none;
}

/* button shrinks */
.foo-tl-0 {
  animation: shrinkMe 8000ms forwards;
}

@keyframes shrinkMe {
  0% {
    /* starting point */
    width: 132px;
    height: 36px;
    opacity: 1;
    bottom: 0;
    transform: rotate(0deg);
    background-color: #FF1874;
    border-radius: 8px;
  }

  /* shrink and change color */
  5% {
    width: 20px;
    height: 20px;
    opacity: 1;
    bottom: 0;
    transform: rotate(0deg);
    background-color: rgb(139, 139, 139);
    border-radius: 0;
  }

  /* rise up */
  10% {
    width: 20px;
    height: 20px;
    opacity: 1;
    bottom: 40px;
    transform: rotate(0deg);
    background-color: rgb(139, 139, 139);
    border-radius: 0;
  }

    /* pause */
    20% {
      width: 20px;
      height: 20px;
      opacity: 1;
      bottom: 40px;
      transform: rotate(0deg);
      background-color: rgb(139, 139, 139);
      border-radius: 0;
    }

  /* spin and change color */
  30% {
    width: 20px;
    height: 20px;
    opacity: 1;
    bottom: 40px;
    transform: rotate(720deg);
    background-color: rgb(255, 255, 255);
    border-radius: 0;
  }

    /* pause */
    40% {
      width: 20px;
      height: 20px;
      opacity: 1;
      bottom: 40px;
      transform: rotate(720deg);
      background-color: rgb(255, 255, 255);
      border-radius: 0;
    }

  /* move down */
  50% {
    width: 20px;
    height: 20px;
    opacity: 0;
    bottom: -40px;
    transform: rotate(720deg);
    background-color: rgb(255, 255, 255);
    border-radius: 0;
  }

  100% {
    width: 20px;
    height: 20px;
    opacity: 0;
    bottom: -40px;
    transform: rotate(720deg);
    background-color: rgb(255, 255, 255);
    border-radius: 0;
  }
}

/* hole opens and shuts */
.foo-tl-1 {

}

